{% extends "hub/base.html" %}
{% block content %}
<table class="table table-striped">
            <tbody>
                <tr>
                    <td>Project Name</td>
                    <td>Project Leader</td>
                    <td>Description</td>
                    <td>Needs</td>
                    <td>Time invested By Creator</td>
                    <td>Members</td>
                    <td>Time invested By Members</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ project.projectName }}</td>
                    <td>{{ project.creator }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.needs}}</td>
                    <td>{{ project.timeAllocated}}</td>
                    <td>
                        <ul>
                            {% for member in project.get_related_members %}
                                <li class="label label-success">{{ member }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ project.total_allocated_by_members }}</td>


                </tr>
        </tbody>
    </table>
{% endblock %}